<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
    <script src="javascripts/script.js"></script>
</head>

<body>
    <header>
        <div class="wrapper">
            <a class="logo" href="/"></a>
            <ul class="nav">
                <li class="nav-item active">
                    <a id="manage-booking-link" href="#">Manage Your Booking</a>
                    <ul class="sub-menu">
                        <li><a href="/bookings/create">Create a new booking</a><a href="/bookings/create">Delete a booking</a><a href="/bookings/create">Modify a booking</a><a href="/bookings/create">Reports</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nv">
                <li><a href="/about">About page</a></li>
                <li><a href="/help">Help</a></li>
                <!-- <li class="dropdown">
                    <a class="sh-c" href="/cart">shopping-cart</a>
                    <div class="dropdown-content">
                        <div class="dropdown-arrow"></div>
                        <div class="fr">1 Item | Total Price</div>
                        <div class="art-cart"><span id="demo"></span></div>
                        <div class="fr"><a class="checkout-link" href="/cart">Checkout</a></div>
                    </div>
                </li> -->
            </ul>
        </div>
    </header>