<!-- editBooking.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Booking</title>
</head>

<body>
  <h1>Edit Booking</h1>
  <form method="post" action="/bookings/:id/edit">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%= booking.name %>">
    <button type="submit">Update Booking</button>
  </form>
</body>

</html>