<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include partials/head %>
</head>

<body>

  <div class="wrapper">
    <div class="about-description">
      <h2>Frequently Asked Questions</h2>
      <section>
        <ul class="faq-list">
          <li>
            <div class="faq-question">How do I reset my password?</div>
            <div class="faq-answer">To reset your password, follow these steps...</div>
          </li>
          <li>
            <div class="faq-question">What payment methods do you accept?</div>
            <div class="faq-answer">We accept various payment methods, including...</div>
          </li>
          <li>
            <div class="faq-question">How can I contact customer support?</div>
            <div class="faq-answer">You can contact our customer support team via...</div>
          </li>
        </ul>
      </section>
      <h2>Contact Us</h2>
      <p>If you have any questions or need assistance, you can reach us at moises.munaldi@mtu.ie or call us at +353-123-456-7890.</p>

    </div>
  </div>

  <% include partials/foot %>
</body>

</html>