<% include partials/head %>
    <div class="wrapper">
        <div class="ra-r">
            <div class="workshop-description">
                <h2>
                    <%= title %>
                </h2>
                <p>
                    Join us for an exciting and interactive music workshop. Learn to play musical instruments, compose your own tunes, and perform in a fun and supportive environment. No prior musical experience required!
                </p>
                <button class="btn-join-workshop"><a href="/bookings/create">Booking</a></button>
            </div>
        </div>

    </div>
    </div>
    <% include partials/foot %>