<!DOCTYPE html>
<html>
<% include partials/head %>
  <div class="wrapper">
    <div class="ra-r"></div>
    <h1>
      <%= title %>
    </h1>

    <body>
      <div class="form-container">
        <form action="/bookings/create" method="post">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-input" id="name" name="name" required>
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-input" id="description" name="description" required>
          </div>

          <div class="form-group">
            <label for="hourToAttend">Time</label>
            <select class="form-input" id="hourToAttend" name="hourToAttend" required>
              <option value="morning">Morning</option>
              <option value="afternoon">Afternoon</option>
              <option value="evening">Evening</option>
            </select>
          </div>

          <button type="submit" class="form-button">Submit</button>
        </form>
      </div>
    </body>
  </div>
  <% include partials/foot %>

</html>

</html>