<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include partials/head %>
</head>

<body>
  <div class="wrapper">
    <div class="about-description">
      <p>Total Bookings: <%= totalBookings %>
      </p>
      <p>Most Common Date: <%= mostCommonDate %>
      </p>
      <p>Most Common Description: <%= mostCommonDescription %>
      </p>
      <button class="btn-join-workshop"><a href="/">Exit</a></button>
    </div>
  </div>

  <% include partials/foot %>
</body>

</html>