<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= title %>
  </title>
  <% include partials/head %>
</head>

<body>
  <div class="wrapper">
    <div class="about-description">
      <h1>Thanks for Registering!</h1>
      <p>We appreciate your registration. You're all set!</p>
      <button class="btn-join-workshop"><a href="/bookings/guestList" class="btn-join-workshop">Manage my booking</a></button>
    </div>
  </div>
  <% include partials/foot %>
</body>

</html>