<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= title %>
  </title>
  <% include partials/head %>
</head>

<body>
  <div class="wrapper">
    <h1>Thanks for Registering!</h1>
    <p>We appreciate your registration. You're all set!</p>
    <button class="btn-join-workshop"><a href="/bookings/guestList/">Check guests</a></button>
  </div>
  <% include partials/foot %>
</body>

</html>